# Gradle files
.gradle/
build/
**/build/

# Local configuration file (sdk path, etc)
local.properties

# Log and cache files
*.log
*.cache
*.diff
*.orig
*.patch

# Android Studio
.idea/
*.iml
*.iws
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
.idea/caches
.idea/libraries

# OS-specific
.DS_Store
Thumbs.db

# Keystore files (if any)
*.jks
*.keystore

# NDK
.externalNativeBuild/

# Test results
*.apk
*.ap_
output.json

# Packaging
captures/
output/

# Kotlin build cache
.kotlinc/

# Jetpack Compose previews
*.androidx.compose.ui.tooling.preview.PreviewActivity

# Others
*.swp
*.swo

# Firebase / Crashlytics
/google-services.json

# NDK files
app/.cxx
